nr/data/flows.json
[{"id":"ee1936cd.b6d21","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"617af5a7.841ba4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a45e443d.e7b9b","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"85d0c327.d3e95","type":"mqtt-broker","z":"","name":"MQTT","broker":"mqtt","port":"8883","tls":"62b8b95c.26b7d8","clientid":"nr.scifi.farm","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"62b8b95c.26b7d8","type":"tls-config","z":"","name":"mqtt","cert":"/run/secrets/nr_cert","key":"/run/secrets/nr_key","ca":"/run/secrets/ca","certname":"","keyname":"","caname":"","verifyservercert":true},{"id":"522474fa.f9580c","type":"mqtt in","z":"ee1936cd.b6d21","name":"","topic":"planteyes/test","qos":"2","broker":"85d0c327.d3e95","x":490,"y":220,"wires":[["cce36914.a60c5"]]},{"id":"cce36914.a60c5","type":"mqtt out","z":"ee1936cd.b6d21","name":"","topic":"planteyes/success","qos":"","retain":"","broker":"85d0c327.d3e95","x":1000,"y":280,"wires":[]},{"id":"bd9867a0.2470a","type":"inject","z":"a45e443d.e7b9b","name":"","topic":"","payload":"{\"name\":\"Plant eye 1\",\"device_id\":\"pe001\",\"wifi\":{\"ssid\":\"AndroidAP\",\"password\":\"$$wordfish\"},\"mqtt\":{\"auth\":true,\"host\":\"192.168.43.31\",\"port\":8883,\"base_topic\":\"planteyes/\",\"username\":\"$mqtt_username\",\"password\":\"$mqtt_password\",\"ssl\":true,\"ssl_fingerprint\":\"516be2779e448e22da9cc487170eafa7c12a5618\"},\"ota\":{\"enabled\":false},\"settings\":{\"percentage\":55}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["432a7154.fad228"]]},{"id":"432a7154.fad228","type":"mqtt out","z":"a45e443d.e7b9b","name":"platformio/build","topic":"platformio/build/nodemcuv2","qos":"","retain":"","broker":"85d0c327.d3e95","x":300,"y":60,"wires":[]}]